<h3 style=color:red> <%= @client.name %> </h3>

<%= link_to "edit", edit_client_path(@client.id)%>
<%= link_to "delete", client_path(@client.id),method: :delete, data: {confirm: "are u sure"} %><br/><br/>
<strong> Company: </strong> <%= @client.company %> <br/>
<strong> Email: </strong> <%= @client.email %><br/>
<strong> Website: </strong> <%= @client.website %><br/>

<h3> Projects ("<%= @client.projects.size%>") <h3>
<ul>
<% for project in @client.projects %>
<%= project.name %>
<%end%>
</ul>
