<h3 style=color:red> <%= @clients.name %> </h3>

<%= link_to "edit", edit_client_path(@clients.id)%>
<%= link_to "delete", client_path(@clients.id),method: :delete, data: {confirm: "are u sure"} %><br/><br/>
<strong> Company: </strong> <%= @clients.company %> <br/>
<strong> Email: </strong> <%= @clients.email %><br/>
<strong> Website: </strong> <%= @clients.website %><br/>

<h3> Projects ("<%= @clients.projects.size%>") <h3>
<ul>
<% for project in @clients.projects %>
<%= project.name %>
<%end%>
</ul>
<h3> Add Project</h3>
<%= form_for([@client, Project.new]) do |f| %>

<h3>ADD CLIENTS</h3>

<%= form_for @client do |f| %>

<label style=color:orange>Name:</label></br>
<%= f.text_field :name %></br>

<label style=color:pink>Company:</label> </br>
<%= f.text_field :company%></br>

<label style=color:green>Email:</label></br>
<%= f.email_field :email%></br>

<label style=color:lavender>Website:</label></br>
<%= f.text_field :website%></br>

<%= f.submit %>

<%end%>



